fields:
  - name: deploy
    type: radio-fieldset
    values:
      cc: Clean cluster with pre-deployed HelloWorld example
      cmd: Deploy custom helm or stack via shell command
    default: cc
    showIf:
      cmd:
        name: cmd
        type: text
        height: 65
        required: true
        hideLabel: true
        default: |-
          helm repo add ibm-charts https://raw.githubusercontent.com/IBM/charts/master/repo/stable/
          helm install --name default --set autoscaling.enabled=true --set autoscaling.minReplicas=2 --set resources.constraints.enabled=true --set resources.requests.cpu=400m --set resources.limits.cpu=700m ibm-charts/ibm-open-liberty --version 1.6.0  --debug
          kubectl apply -f https://raw.githubusercontent.com/jelastic-jps/kubernetes/v1.15.5/addons/ingress/openliberty.yaml

  - name: label
    caption: Topology
    type: displayfield
  - name: topo
    type: radio-fieldset
    values:
      0-dev: '<b>Development:</b> one master (1) and one scalable worker (1+)'
      1-prod: '<b>Production:</b> multi master (3) with API balancers (2+) and scalable workers (2+)'
    default: 0-dev

  - name: ingress-controller
    type: list
    caption: Ingress Controller
    values:
      Nginx: Nginx
      HAProxy: HAProxy
      Traefik: Traefik
    default: Nginx
    hideLabel: false
    editable: false

  - name: dashboard
    type: list
    caption: Kubernetes Dashboard
    values:
      version1: Kubernetes Dashboard v1 (Stable)
      version2: Kubernetes Dashboard v2 (Beta)
    default: version2
    hideLabel: false
    editable: false

  - type: checkbox
    name: storage
    caption: Attach dedicated NFS Storage with dynamic volume provisioning
    value: true

  - type: checkbox
    name: api
    caption: Enable Remote API Access
    value: false

  - type: checkbox
    name: monitoring
    caption: Install Prometheus & Grafana
    value: false

  - type: checkbox
    name: jaeger
    caption: Install Jaeger tracing tools
    value: false

  - type: string
    name: version
    inputType: hidden
    caption: Kubernetes Version
    default: v1.15.5
